/* POLICES*/

@font-face {
    font-family: 'montserratextrabold';
    src: url('./fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('./fonts/Montserrat-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff'),
         url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courgetteregular';
    src: url('./fonts/courgette-regular-webfont.woff2') format('woff2'),
         url('./fonts/courgette-regular-webfont.woff') format('woff'),
         url('./fonts/Courgette-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'kalamregular';
    src: url('./fonts/kalam-regular-webfont.woff2') format('woff2'),
         url('./fonts/kalam-regular-webfont.woff') format('woff'),
         url('./fonts/Kalam-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalambold';
    src: url('./fonts/kalam-bold-webfont.woff2') format('woff2'),
         url('./fonts/kalam-bold-webfont.woff') format('woff'),
         url('./fonts/Kalam-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yeseva_oneregular';
    src: url('./fonts/yesevaone-regular-webfont.woff2') format('woff2'),
         url('./fonts/yesevaone-regular-webfont.woff') format('woff'),
          url('./fonts/YesevaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptregular';
    src: url('./fonts/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/dancingscript-variablefont_wght-webfont.woff') format('woff'),
          url('./fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('./fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('./fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('./fonts/KaushanScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments généraux commun Desktop max-width 1230 px / responsive pour max-width 480px et pour min width 481 px to max-width*/

* {
 margin:0;
 padding:0;
 }

body {
  margin:auto;
}

main {
  margin:auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 89px;
  background-color: #579c87;
  margin:auto;
}

header h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family:  'Montserrat', sans-serif;
  font-weight:bold;
  font-size: 2.8em;
  color:#fcca46;
}

/* FOOTER*/


footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 58px;
  margin: auto;
  position: sticky;
  bottom:0px;
  background-color: #579c87;
}

footer #contact {
  padding: 15px 35px 0px 35px;
}

footer #mentionsleg {
  padding:15px 35px 0px 35px;
}

footer h2 {
  font-family:  'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  height: 100%;
  color: #fcca46;
  text-decoration: none;
}

/* FOOTER ANIMATION */

@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}

.headshakeanim:hover {
  animation: headshake 150ms infinite ease-in-out;
}

/*SECTION and MAIN*/

/* MAIN */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 20px;
  background-color: white;
}

/*ELEMENTS SPECIFIQUES MENU 4 */

.carte_outtitle h2 {
  font-family: "Times New Roman", sans-serif;
  font-size: 2.2em;
  text-align:center;
  padding-bottom:50px;
  padding-top:50px;
}

.carte {
  background-color: white;
  color: #303131;
  font-family: 'Kalam',  cursive;  
  font-weight: normal;
  text-align:center;
  font-size:1.2em;
  padding-top:10px;
  width:90%;
  margin: auto auto 25px auto;
  height: auto;
  overflow:hidden;
  box-shadow: 0 0 30px #d8ddd6;
}

.page_carte4 .degrademenu4 {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #41963c, #91ff66, #bfff7e);
  font-family: 'Kaushan Script', cursive;
  font-size: 2.8em;
  padding-top:70px;
  padding-bottom:60px;
}


.sousmenu4_title {
  display: flex;
  justify-content: center;
  width: 76%;
  margin: auto;
  padding-bottom:50px;
}

.sousmenu4_title h2{
  font-family:'Kalam',  cursive; 
  font-weight: normal;
  font-size:1.5em;
}

.menu4_barredeco_left {
  display: inline-block;
  height: 18px;
  width: 340px;
  margin:auto auto auto 0px;
 }

.menu4_barredeco_right {
  display: inline-block;
  height: 18px;
  width: 340px;
  margin: auto 0px auto auto;
}

.plat {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-bottom:20px;

}

.page_carte4 .prix {
  font-size:1.3em;
  }

/*ANIMATION SOUSMENU4_TITLE*/

.menu4_underlineborder_anim:hover {
  background-size: 100% 100%;
}

.menu4_underlineborder_anim {
  display: inline;
  text-decoration: none;
  background:linear-gradient(to top,  #91ff66 1px, transparent 5px) no-repeat; 
  background-size: 0 100%;
  transition: background-size .2s;
}


/* FORMATS RESPONSIVE -- */

/* REGLES FORMAT RESPONSIVE SMARTPHONES --I PAD ET TABLETTES NON INCLUS (REGLES CSS DESKTOP)*/


@media only screen and (max-width: 730px)
 { 

.carte_outtitle h2 {
    font-size: 1.8em;
  }


.page_carte4 .degrademenu4 {
  font-size: 1.7em;
  padding-top:70px;
  padding-bottom:60px;
}

.sousmenu4_title{
  display: flex;
  justify-content: center;
  width: 89%;
  margin: auto;
  padding-bottom:50px;
}

.sousmenu4_title h2{
  font-size:1.4em;
}


.plat {
  flex-direction:column;
  font-size:1.1em;
}

.page_carte4 .prix{
  padding-top:20px;
}

.menu4_barredeco_left {
  height: 4px;
  width:50px;
  }

.menu4_barredeco_right {
  height: 4px;
  width: 50px;
  
}

  footer {
    height: 80px;
    padding:0;
  }

}


/* REGLES RESPONSIVE ECRANS DE PLUS DE 730 px et moins de 1023px (I PAD PRO non inclus) */


@media only screen and (max-width: 1023px) and (min-width: 731px) {

  .page_carte4{
    height:820px;
  }

.menu4_barredeco_left {
  
  height: 5px;
  width:120px;
  
 }

.menu4_barredeco_right {
  
  height: 5px;
  width: 120px;
  
}
 
 .sousmenu4_title{
  padding-bottom:30px;
 }

.plat {
  font-size:1em;
  width: 78%;
  text-align:left;
  padding-bottom:12px;
}


.plat .prix {
  padding-left:40px;
  font-size:1.1em; 
}


}