/* POLICES*/

@font-face {
    font-family: 'montserratextrabold';
    src: url('./fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('./fonts/Montserrat-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff'),
         url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courgetteregular';
    src: url('./fonts/courgette-regular-webfont.woff2') format('woff2'),
         url('./fonts/courgette-regular-webfont.woff') format('woff'),
         url('./fonts/Courgette-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'kalamregular';
    src: url('./fonts/kalam-regular-webfont.woff2') format('woff2'),
         url('./fonts/kalam-regular-webfont.woff') format('woff'),
         url('./fonts/Kalam-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalambold';
    src: url('./fonts/kalam-bold-webfont.woff2') format('woff2'),
         url('./fonts/kalam-bold-webfont.woff') format('woff'),
         url('./fonts/Kalam-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yeseva_oneregular';
    src: url('./fonts/yesevaone-regular-webfont.woff2') format('woff2'),
         url('./fonts/yesevaone-regular-webfont.woff') format('woff'),
          url('./fonts/YesevaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptregular';
    src: url('./fonts/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/dancingscript-variablefont_wght-webfont.woff') format('woff'),
          url('./fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('./fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('./fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('./fonts/KaushanScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments généraux commun Desktop max-width 1230 px / responsive pour max-width 480px et pour min width 481 px to max-width*/

* {
 margin:0;
 padding:0;
 }

body {
  margin:auto;
}

main {
  margin:auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 89px;
  background-color: #579c87;
  margin:auto;
}

header h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family:  'Montserrat', sans-serif;
  font-weight:bold;
  font-size: 2.8em;
  color:#fcca46;
}

/* FOOTER*/


footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 58px;
  margin: auto;
  position: sticky;
  bottom:0px;
  background-color: #579c87;
}

footer #contact {
  padding: 20px 35px 0px 35px;
}

footer #mentionsleg {
  padding: 20px 35px 0px 35px;
}

footer p {
  font-family:  'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fcca46;
  text-decoration: none;
}

/* FOOTER ANIMATION */

@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  75% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@keyframes headshake {
  25% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  75% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

.headshakeanim:hover {
  -webkit-animation: headshake 150ms infinite ease-in-out;
          animation: headshake 150ms infinite ease-in-out;
}

/*SECTION and MAIN*/

/* MAIN */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 20px;
  background-color: white;
}

/*ELEMENTS SPECIFIQUES MENU 1 */

.carte_outtitle h2 {
  font-family: Arial, sans-serif;
  font-size: 2.3em;
  text-align:center;
  padding-bottom:20px;
  padding-top:20px;
}

.page_carte1 h2{
  font-family: 'Courgette', cursive;
  font-size: 2.3em;
  font-weight:bold;
}

.carte {
  background-color: #fcdfdb;
  color: #2f0000;
  font-family: "Kalam", cursive;
  font-weight: lighter;
  text-align:center;
  padding-top:10px;
  width:90%;
  margin: auto auto 25px auto;
  height: auto;
  overflow:hidden;
  box-shadow: 0 0 30px #d8ddd6;
}

.icon_note i {
  display: inline-block;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#f16062), color-stop(#f37a6e), to(#f7a589));
  background-image: -o-linear-gradient(left, #f16062, #f37a6e, #f7a589);
  background-image: linear-gradient(90deg, #f16062, #f37a6e, #f7a589);
  font-size: 2.5em;
  padding: 25px;
}

.sousmenu1_title{
  padding-top:40px;
  padding-bottom:40px;
}

.sousmenu1_title h2{
  font-family:"Kalam", cursive;
  font-weight: normal;
  font-size:1.9em;
  }

/*ANIMATION SOUSMENU1_TITLE*/


.menu1_underlineborder_anim:hover {
  background-size: 100% 100%;
}

.menu1_underlineborder_anim {
  display: inline;
  text-decoration: none;
  background:-o-linear-gradient(bottom, #f16062 1px, transparent 5px) no-repeat;
  background:linear-gradient(to top, #f16062 1px, transparent 5px) no-repeat; 
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  -o-transition: background-size .3s;
  transition: background-size .3s;
}

.sousmenu1_title {
  display: flex;
  justify-content: center;
  width: 76%;
  margin: auto;
}

.menu1_barredeco_left {
  display: inline-block;
  height: 12px;
  width: 340px;
  margin:auto auto auto 0px;
 }

.menu1_barredeco_right {
  display: inline-block;
  height: 12px;
  width: 340px;
  margin: auto 0px auto auto;
}

.plat {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding-bottom:20px;

}

.page_carte1 .prix {
  font-size:1.0em;
  font-weight: bold;
}


.basdepagecarte {
  display: flex;
  justify-content: center;
  height:150px;
}

.basdepagecarte span {
  margin: 0px;
  font-size:1.2em;
  padding: 0px;
}

.basdepagecarte h3 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
  font-weight:bold;
  padding-top:30px;
}


/* FORMATS RESPONSIVE -- */


/* REGLES FORMAT RESPONSIVE SMARTPHONES --I PAD ET TABLETTES NON INCLUS (REGLES CSS DESKTOP)*/


@media only screen and (max-width: 730px)
 {


  .carte_outtitle h2 {
    font-size: 1.8em;
    padding-bottom:30px;
    padding-top:40px;
  }


.page_carte1 h2{
    font-size: 1.8em;
 }

  .sousmenu1_title h2{
    font-size:1.4em;
}

.menu1_barredeco_left {
  height: 2px;
  width:40px;
  }

.menu1_barredeco_right {
  height: 2px;
  width: 40px;
 }

.plat {
  flex-direction:column;
  font-size:1.1em;
}

.plat .prix{
  padding-top:20px;
}
.basdepagecarte {
  flex-direction:row;
  height:150px;
  width:100%;
  margin-right:50px;
}

.basdepagecarte span {
  margin: 0px;
  font-size:0.9em;
  padding: 0px;
  margin-left:20px;
}

.basdepagecarte i{
  padding:25px 0px 0px 10px;
}

.basdepagecarte h3 {
  font-size: 1.5em;
  width:400px;
  text-align:left;
  padding-left:20px;
}

  footer {
    height: 80px;
    padding:0;
  }

}


@media only screen and (max-width: 350px)
 {

 footer #contact {
  padding: 20px 20px 0px 20px;
}

footer #mentionsleg {
  padding: 20px 20px 0px 20px;
}

}

/* REGLES RESPONSIVE ECRANS DE PLUS DE 730 px et moins de 1023px (I PAD PRO non inclus) */


@media only screen and (max-width: 1023px) and (min-width: 731px) {
  
  
.menu1_barredeco_left {
  height: 5px;
  width:100px;
  }

.menu1_barredeco_right {
  height: 5px;
  width: 100px;
 }
 
.plat {
  font-size:1.05em;
}


}